- videos.each do |video|
  - video = VideoDecorator.decorate(video)
  %article.video.row
    .video_data
      %figure.col-sm-2
        %img(src="#{video.small_cover_url}" alt="#{video.title}")
      .video_body.col-sm-10
        %header
          %h3 
            = link_to video.title, video_path(video)
        %p.video_description= video.description
        %hr
        .details
          %span.average_rating Average rating: #{video.rating}
          %span.reviews_count #{video.reviews.count} reviews
        %footer.video_review
          - if video.reviews.present?
            #{video.reviews.first.content}
          - else
            There are currently no reviews
