%section.advanced_search.container
  = form_tag advanced_search_videos_path, class: 'form-horizontal', remote: true, method: :get do
    %header
      %h1 Advanced Search
    %fieldset
      .form-group
        .col-sm-6
          = search_field_tag :query, params[:query], placeholder: 'Search videos by title, description', class: 'form-control'
      .form-group
        .col-sm-6
          .checkbox
            = label_tag :reviews, "Include Reviews", class: 'control-label'
            = check_box_tag :reviews, true, false, class: 'form-control'
    %fieldset
      .form-group.col-sm-6
        .average_rating_label Average Rating
        %label.col-sm-1.control-label(for="rating_from") From:
        .col-sm-2
          = select_tag :rating_from, options_for_select((10..50).map { |num| num / 10.0 }, params[:rating_from]), class: 'form-control', include_blank: true
        %label.col-sm-1.control-label(for="rating_to") To:
        .col-sm-2
          = select_tag :rating_to, options_for_select((10..50).map { |num| num / 10.0 }, params[:rating_to]), class: 'form-control', include_blank: true
    .form-group
      .col-sm-6
        = button_tag(type: "submit", class: "btn btn-primary") do
          %span.glyphicon.glyphicon-search
          Search
  %hr
  %h2#results_count 
  #search_results
